version: '3'

services:
  backend:
    build:
      context: ./backend
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - frontend

  frontend:
    build:
      context: ./frontend_vuejs
    command: npm run serve
    volumes:
      - ./frontend_vuejs:/app
    ports:
      - "8080:8080"
